<p id="notice"><%= notice %></p>

<h1><%= @feed_entry.title %> <%= link_to "[>]", @feed_entry.url %></h1>
<p>
  <%= @feed_entry.published_at %> 
  (<%= time_ago_in_words @feed_entry.published_at %> ago) | 
  <%= raw linked_tag_string @feed_entry.tags %>
</p>

<p class="summary"><%= raw @feed_entry.summary %></p>

<%= link_to 'Edit', edit_feed_entry_path(@feed_entry) %> |
<%= link_to 'Back', feed_entries_path %>
