<p id="notice"><%= notice %></p>

<h1>News</h1>

<% if @tag %>
<h2>For tag <%= @tag.name %></h2>
<% end %>


<p><% @tags.each do |t| %><%= link_to t.name, "/?tag=#{t.id}" %>, <%end%></p>

<% @entries.each do |e| %>
<div class="entry">
  <p><%= e.published_at %> <%= link_to "[>]", e.url %> <%= link_to truncate(e.title, :length => 70), e %> (<%= raw linked_tag_string e.tags %>)</p>
</div>
<%end%>