<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tag.name %>
</p>

<h2>Entries</h2>
<ul>
  <% @tag.feed_entries.each do |e| %>
  <li><%= link_to e.title, e %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
