<!DOCTYPE html>
<html>
<head>
  <title>Rss</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
  <%= link_to "Home", "/" %>
  <%= link_to "Sources", sources_path %>
  <%= link_to "Tags", tags_path %>
  <%= link_to "retag", "/retag" %>
  <%= link_to "feed", "/cron" %><p>

<div id="content">
	<%= yield %>
</div>

</body>
</html>
